<!DOCTYPE html>
<html lang="en">

<head>
    {% include 'main/components/seo.html' %}
</head>

<body id="article">
    <!-- Header Section -->
    <header id="bH">
        <div class="nav-logo-box">
            <a href="/" role="button">
                <div class="logo">
                    <img src="/static/assets/logo/logo-horizontal-dark.png" alt="Insurance Bhaiya logo" loading="lazy"
                        decoding="async" height="25px" width="175px" />
                </div>
            </a>
        </div>
        <div class="social-feeds">
            <!-- Facebook -->
            <a href="/search" target="_blank" class="fa fa-search"></a>
            <!-- Facebook -->
            <a href="https://www.facebook.com/InsuranceBhaiya" target="_blank" class="fa fa-facebook"></a>
            <!-- Twitter -->
            <a href="https://twitter.com/InsuranceBhaiya" target="_blank" class="fa fa-twitter"></a>
            <!-- Instagram -->
            <a href="https://www.instagram.com/insurancebhaiya/" target="_blank" class="fa fa-instagram"></a>
            <!-- Linkedin -->
            <a href="https://www.linkedin.com/company/insurance-bhaiya/" target="_blank" class="fa fa-linkedin"></a>
        </div>
    </header>
    <!-- Left Sidebar Section -->
    <article id="bAl">
        <div class="sidebar-page-nav pb-4">
            <p class="label label-yellow">PAGE CONTENT</p>
            <ul class="navigation">
                <li><a href="#article">Top</a></li>
                {% for content in insurance.content.content %}{% if content.linkingText %}
                <li><a href="#{{ content.linkedID }}">{{ content.linkingText }}</a></li>
                {% endif %}
                {% endfor %}
                <li><a href="#recommendation">Recommendation</a></li>
            </ul>
        </div>
    </article>
    <!-- Main Section -->
    <main id="bM">
        <!-- Free assets for position absolute (if any) -->
        <div class="free-assets"></div>
        <!-- Hero -->
        <section class="article-hero">
            <div class="article-path">
                <ul>
                    <li><a href="/"><span>&#9814;</span> Home</a></li>
                    {% if insurance.sub_article %}
                    <li><span>&#10170;</span></li>
                    <li><a href="/article/{{ insurance.sub_article.url }}{% if insurance.sub_article.basic.sub_article.id %}?sub={{ insurance.sub_article.basic.sub_article.id }}{% endif %}">{{ insurance.sub_article.name }}</a></li>
                    {% endif %}
                    {% if insurance.name %}
                    <li><span>&#10170;</span></li>
                    <li><a href="/article/{{ insurance.url }}{% if insurance.basic.sub_article.is_sub_article %}?sub={{ insurance.basic.sub_article.id }}{% endif %}">{{ insurance.name }}</a></li>
                    {% endif %}
                </ul>
                <p class="pub-date">Published On {{ insurance.last_updated_on }}</p>
            </div>
            <h1 class="article-title">{{ insurance.content.heading }}</h1>
        </section>
        <!-- Main -->
        <section class="article-content">
            <!-- ARTICLE HERE -->
            <div class="content" id="top_content">
                {% for content in insurance.content.content %}
                {% if content.cardType == "content" %}
                <div class="box"{% if content.linkedID %} id="{{ content.linkedID }}"{% endif %}>
                    {% if content.linkingText %}
                    <br>
                    <h5 class="h5 sub-title">{{ content.linkingText }}</h5>
                    {% endif %}
                    {{ content.codeEditorContent|safe }}
                </div>
                {% endif %}
                {% if content.cardType == "google-ad" %}
                <div class="ad-section"></div>
                {% endif %}
                {% endfor %}
            </div>
            <!-- Previous Next Articles -->
            {% if insurance.previous_article and insurance.next_article %}
            <div class="box">
                <br>
                <div class="previous-next-articles">
                    <div class="previous-article-btn btn-box">
                        <label for="previous_article">PREVIOUS</label>
                        <a href="/article/{{ insurance.previous_article.url }}{% if insurance.previous_article.basic.sub_article.id %}?sub={{ insurance.previous_article.basic.sub_article.id }}{% endif %}" class="btn-text lg-d" id="previous_article">
                            <div class="previous-next-article-arrow-icon">&#8678;</div>
                            <p>{{ insurance.previous_article.name }}</p>
                        </a>
                        <div class="sm-d">
                            <a href="/article/{{ insurance.previous_article.url }}{% if insurance.previous_article.basic.sub_article.id %}?sub={{ insurance.previous_article.basic.sub_article.id }}{% endif %}" class="btn-round">&#8249;</a>
                        </div>
                    </div>
                    <div class="next-article-btn btn-box">
                        <label for="next_article">NEXT</label>
                        <a href="/article/{{ insurance.next_article.url }}{% if insurance.next_article.basic.sub_article.id %}?sub={{ insurance.next_article.basic.sub_article.id }}{% endif %}" class="btn-text lg-d" id="next_article">
                            <p>{{ insurance.next_article.name }}</p>
                            <div class="previous-next-article-arrow-icon">&#8680;</div>
                        </a>
                        <div class="sm-d">
                            <a href="/article/{{ insurance.next_article.url }}{% if insurance.next_article.basic.sub_article.id %}?sub={{ insurance.next_article.basic.sub_article.id }}{% endif %}" class="btn-round">&#8250;</a>
                        </div>
                    </div>
                </div>
                <br>
                <hr>
            </div>
            {% endif %}
            <!-- Recommendation -->
            <!-- Nav Link Break -->
            {% if insurance.recommendation_article %}
            <div class="box" id="recommendation">
                <br>
                <div class="recommendation">
                    <div class="c-header">
                        <h6>RECOMMENDATION</h6>
                    </div>
                    <div class="container-cards">
                        <!-- Health Insurance -->
                        <div class="insurance-card">
                            <div class="card-top-border"></div>
                            <div class="content">
                                <h2>{{ insurance.recommendation_article.basic.recommendation_title }}</h2>
                                <p>{{ insurance.recommendation_article.basic.short_description }}</p>
                                {% if insurance.sub_recommendations %}
                                <div class="sub-insurance">
                                    {% for recommended in insurance.sub_recommendations %}
                                    <a href="/article/{{ recommended.url }}{% if recommended.basic.sub_article.id %}?sub={{ recommended.basic.sub_article.id }}{% endif %}" class="si-box" role="button">
                                        <span>{{ recommended.basic.sub_article_title }}</span>
                                    </a>
                                    {% endfor %}
                                </div>
                                {% endif %}
                                <a href="/article/{{ insurance.recommendation_article.url }}{% if insurance.recommendation_article.basic.sub_article.id %}?sub={{ insurance.recommendation_article.basic.sub_article.id }}{% endif %}" class="to-article-btn" role="button"><span>{{ insurance.recommendation_article.name }}</span><span class="icon">&#10138;</span></a>
                            </div>
                            <div class="thumbnail">
                                <img src="{{ insurance.recommendation_article.basic.thumbnail }}"
                                    alt="{{ insurance.recommendation_article.basic.recommendation_title }} Insurance illustration" height="200px" width="auto">
                            </div>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            {% endif %}
            <!-- Tags -->
            {% if insurance.basic.content_keywords %}
            <div class="box">
                <br>
                <div class="tags">
                    <h6>TAGS</h6>
                    <ul>
                        {% for keyword in insurance.basic.content_keywords %}
                        <li><a href="/article/{{ insurance.url }}{% if insurance.basic.sub_article.is_sub_article %}?sub={{ insurance.basic.sub_article.id }}{% endif %}" role="button">{{ keyword }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <br>
            </div>
            {% endif %}
        </section>
        <!-- Right Sidebar -->
        <article id="bAr">
            {% if insurance.thumbnail %}
            <div class="a-thumbnail">
                <img src="{{ insurance.thumbnail }}"
                    alt="{{ insurance.name }} illustration" loading="lazy" decoding="async">
            </div>
            {% endif %}
            {% if insurance.basic.sidebar_keywords %}
            <div class="sticky-box">
                <div class="a-tags">
                    <p>Tags</p>
                    <ul>
                        {% for keyword in insurance.basic.sidebar_keywords %}
                        <li><a href="/article/{{ insurance.url }}{% if insurance.basic.sub_article.is_sub_article %}?sub={{ insurance.basic.sub_article.id }}{% endif %}" role="button">{{ keyword }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% endif %}
        </article>
    </main>
    <!-- Footer -->
    {% include 'main/components/footer.html' %}
    <!-- Share Button -->
    {% include 'main/components/sharebtn.html' %}
    <script src="/static/scripts/article.js"></script>
</body>

</html>