<footer id="bF">
    <div class="menu">
        <div class="pages">
            <ul>
                <li class="list-head">Menu</li>
                <li><a href="/page/about-us" target="_blank" role="button">About</a></li>
                <li><a href="/page/contact" target="_blank" role="button">Contact</a></li>
            </ul>
        </div>
        <div class="insurance">
            <ul>
                <li class="list-head">Insurances</li>
                <li><a href="/article/auto-insurance" target="_blank" role="button">Auto</a></li>
                <li><a href="/article/homeowners-insurance" target="_blank" role="button">Homeowners</a></li>
                <li><a href="/article/liability-insurance" target="_blank" role="button">Liability</a></li>
                <li><a href="/article/health-insurance" target="_blank" role="button">Health</a></li>
                <li><a href="/article/life-insurance" target="_blank" role="button">Life</a></li>
                <li><a href="/article/business-insurance" target="_blank" role="button">Business</a></li>
                <li><a href="/article/travel-insurance" target="_blank" role="button">Travel</a></li>
                <li><a href="/article/pet-insurance" target="_blank" role="button">Pet</a></li>
                <li><a href="/article/flood-insurance" target="_blank" role="button">Flood</a></li>
                <li><a href="/article/disability-insurance" target="_blank" role="button">Disability</a></li>
            </ul>
        </div>
    </div>
    <!-- End Line -->
    <div class="bottom-line">
        <div class="copy-right-text">
            <img src="/static/assets/logo/logo-md.svg" alt="insurance bhaiya logo" height="24px" width="24px" loading="lazy"
                decoding="async">
            <p>&copy; <a href="/">Insurance Bhaiya</a> 2023. All rights reserved.</p>
        </div>
        <div class="policy-pages">
            <a href="/disclaimer" target="_blank">Disclaimer</a>
            <a href="/privacy-policy" target="_blank">Privacy Policy</a>
            <a href="/terms-and-conditions" target="_blank">Terms and Conditions</a>
        </div>
    </div>
</footer>