
<section id="absolute_assets">
    <ul class="share-menu bottomRight">
        <li class="md-d share top">
            <label for="share_btn">SHARE <i class="fa fa-share-alt"></i></label>
            <input type="checkbox" id="share_btn">
            <ul class="submenu">
                <!-- Facebook -->
                <li><button onclick="shareOnSocialMedia('facebook')" class="facebook"><i
                            class="fa fa-facebook"></i></button></li>
                <!-- Twitter -->
                <li><button onclick="shareOnSocialMedia('twitter')" class="twitter"><i
                            class="fa fa-twitter"></i></button></li>
                <!-- LinkedIn -->
                <li><button onclick="shareOnSocialMedia('linkedIn')" class="linkedin"><i
                            class="fa fa-linkedin"></i></button></li>
                <!-- WhatsApp -->
                <li><button onclick="shareOnSocialMedia('whatsapp')" class="whatsapp"><i
                            class="fa fa-whatsapp"></i></button></li>
                <!-- Pinterest -->
                <li><button onclick="shareOnSocialMedia('pinterest')" class="pinterest"><i
                            class="fa fa-pinterest"></i></button></li>
                <!-- Copy to Clipboard -->
                <li><button onclick="copyToClipboard()" class="copy"><i class="fa fa-copy"></i></button></li>
            </ul>
        </li>
        <li class="sm-d share">
            <i class="fa fa-share-alt" id="shareBtn"></i>
        </li>
    </ul>
</section>